frr version 8.4.1
frr defaults traditional
hostname {{ ansible_hostname }}
log file /var/log/frr/frr.log
log syslog informational
no ipv6 forwarding
service integrated-vtysh-config

    {% if ansible_hostname == "router1" %}
interface enp0s8
description r1->r2
 ip address {{ ansible_enp0s8.ipv4.address }} {{ ansible_enp0s8.ipv4.netmask }}
 ip ospf cost 1000
    {% elif ansible_hostname == "router2" %}
interface enp0s8
description r2->r1
 ip address {{ ansible_enp0s8.ipv4.address }} {{ ansible_enp0s8.ipv4.netmask }}
    {% if ansible_hostname == "router2" and symmetric_routing == true %}
ip ospf cost 1000
    {% endif %}
    {% elif ansible_hostname == "router3" %}
interface enp0s8
description r3->r2
 ip address {{ ansible_enp0s8.ipv4.address }} {{ ansible_enp0s8.ipv4.netmask }}   
    {% endif %}   
 ip ospf mtu-ignore
 ip ospf hello-interval 10
 ip ospf dead-interval 30
exit
!
    {% if ansible_hostname == "router1" %}
interface enp0s9
 description r1->r3
  ip address {{ ansible_enp0s9.ipv4.address }}
  !ip ospf cost 45

    {% elif ansible_hostname == "router2" %} 
interface enp0s9
 description r2->r3
  ip address {{ ansible_enp0s9.ipv4.address }}

    {% elif ansible_hostname == "router3" %} 
interface enp0s9
 description r3->r1
  ip address {{ ansible_enp0s9.ipv4.address }}

     {% endif %}  
 ip ospf hello-interval 10
 ip ospf dead-interval 30
 ip ospf mtu-ignore
exit
!
    {% if ansible_hostname == "router1" %}
interface enp0s10
 description net_router1
  ip address {{ ansible_enp0s10.ipv4.address }}
  ip ospf cost 45

    {% elif ansible_hostname == "router2" %}
 interface enp0s10
 description net_router2
  ip address {{ ansible_enp0s10.ipv4.address }}
  ip ospf cost 45

    {% elif ansible_hostname == "router3" %}
 interface enp0s10
 description net_router3
  ip address {{ ansible_enp0s10.ipv4.address }}
  ip ospf cost 45

     {% endif %}  
 ip ospf hello-interval 10
 ip ospf dead-interval 30
 ip ospf mtu-ignore
exit
!
    {% if ansible_hostname == "router1" %}
router ospf
 ospf router-id 1.1.1.1
 network 10.0.10.0/30 area 0
 network 10.0.12.0/30 area 0
 network 192.168.10.0/24 area 0
 neighbor 10.0.10.2
 neighbor 10.0.12.2
    {% elif ansible_hostname == "router2" %}
router ospf
 ospf router-id 2.2.2.2
 network 10.0.10.0/30 area 0
 network 10.0.11.0/30 area 0
 network 192.168.20.0/24 area 0
 neighbor 10.0.10.2
 neighbor 10.0.11.2
    {% elif ansible_hostname == "router3" %}
router ospf
 ospf router-id 3.3.3.3
 network 10.0.11.0/30 area 0
 network 10.0.12.0/30 area 0
 network 192.168.30.0/24 area 0
 neighbor 10.0.11.2
 neighbor 10.0.12.2
     {% endif %}
exit
!